---
import { Image } from 'astro:assets'
import { getSecret } from 'astro:env/server'

const token = getSecret('REVOLT_TOKEN')

if (!token) throw new Error('No REVOLT_TOKEN secret')

const friends: any[] = [
    {
        id: '565197576026980365',
        link: 'https://instellate.xyz/'
    },
    {
        id: '585278686291427338',
        link: 'https://lumap.xyz/'
    }
]

for (let i = 0; i < friends.length; i++) {
    const friend = friends[i]
    const response = await fetch(`https://api.revolt.chat/users/${friend.id}`, {
        headers: {
            'X-Bot-Token': token
        }
    })

    if (response.ok) {
        const data = await response.json()
        if (data.avatar) {
            friends[i].avatar = `https://autumn.revolt.chat/${data.avatar.tag}/${data.avatar._id}/${data.avatar.filename}`
        } else {
            friends[i].avatar = `https://api.revolt.chat/users/${friend.id}/default_avatar`
        }

        friends[i].name = data.username
    }
}
---

<div class='friends-section'>
    <h2>Friends</h2>
    <div class='friends-grid'>
        {
            friends.map((friend) => (
                <a href={friend.link}>
                    <Image
                        class='friend-avatar'
                        src={friend.avatar}
                        alt={friend.name}
                        width={128}
                        height={128}
                        loading={'eager'}
                    />
                </a>
            ))
        }
    </div>
</div>
